@import "../node_modules/bootstrap/scss/bootstrap";
// @import "../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";

$body-color: #D9D6D0;
$c1: #F2D027;
$c2: #D9A404;
$c3: #F2CF63;
$c4: #D98E04;
$c5: #D9D6D0;
$black: black;