@use 'global' as *;
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&display=swap');

//@import '../../../node_modules/bootstrap/scss/bootstrap';
body {
    background-color: $body-color;
}

h5, h1 {
    text-align: center;
    font-family: cursive;
}

h5{
    font-size: 27px;
    font-family: 'Fjalla One', sans-serif;

}
h1{
    font-family: 'Anton', sans-serif;
}

li {

}

html {
	box-sizing: border-box;
}

.card-body{
    background-color: $c3;
}

#recipe-div {
    background-color: $c5;
    padding: 5%;
}

.card {
    padding: 2%;
    border-style: solid;
    border-color: $black;
    background-color: $black;
}

#ingredients-list img{
    width: 100%;

}

#presentation-div img {
    width: 100%;
}



#recipe-div{
    justify-content: center;
    align-items: center;
}


#recipe-section {
    width: 100%;
}




#video-div {

    margin-top: 2%;

}


#conjunto-div > div {
    margin: 1%;
}


#ingredients-div{
    margin-top: 5%;
}

#ingredients-list .col{
    justify-content: flex-end;
}