@use '../../../scss/global' as *;
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&display=swap');


.body {
    background-color: yellow;

}

 
 div{
    background-color: $c3;
}

.containerBrowseByName{
   
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
   color: $c4;
}

.alphabetList a {
    color: $c2;
}

.alphabetList a:hover {
    color: $black;
}
.story {
    width: 75%;
    margin: 0 auto;
    // box-shadow: 0 3rem 8rem rgba($black, .1);
    // background-color: rgba($black, .1);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    border:1px solid $c4;
    // transform: skewX(-12deg);
}

.center {
    text-align: center;
    padding-bottom: 10px;
}

.containerResults {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

div {
    display: block;
}

.containerResults:after {
    clear: both;
}
.containerResults:before, .containerResults:after {
    display: table;
    content: " ";
}